*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root{
    --dark: #0F2836;
    --middle: #D4DFE4;
    --middledarker: #4f585c;
    --light: #FFFFFF;
    
}

.title{
    font-size: 30px;
    text-align: center;
}

.subtitle{
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    
}

.text{
    font-size: 15px;
}