:root{
    --dark: #0F2836;
    --middle: #D4DFE4;
    --middledarker: #4f585c;
    --light: #FFFFFF;
    
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.card{
    background-color: var(--light);
    border-radius: 3px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30px;
    padding: 20px;

    
    box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.5);
}


.contact{
    font-size: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 25vw;
    padding-right: 25vw;
}

.contact .title{
    
    font-size: 30px;
}

.contact .text{
    font-size: 18px;
    margin-top: 5px;
    
}

.infoline{
    display: flex;
    justify-content: space-between;
}

.contact .contactinfo{
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    overflow: hidden;
    padding: 20px;
    padding-left: 13px;

}
.contactinfo.img{

    object-fit: contain;
   max-width: 100%;
   max-height: 100%;
   width: auto;
   height: auto;
   padding: 0px;
    
    
      
}

.contactinfo.txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.contacttxt.name{
    font-size: 25px;
}

.contacttxt.number{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 7px;
}
.contacttxt.email{
    font-size: 14px;
}

.infoline .contactinfomore{
    flex-grow: 1;
    line-height: 23px;
    font-size: 15px;
    text-align: left;
    display: flex;
    justify-content: center;

}

.card.contactform{
    height: 320px;
    display: flex;
    padding: 0px;
    
}


.contactform form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width:100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
     
  
    
}

.inputgroup{
    display: flex;
    flex-direction: column;
    width: 40%
    
}

.inputgroup label{
    height: 20px;
    font-size: 15px;
    margin-bottom: 2px;
}

.inputgroup input{
    height: 25px;
    margin-bottom: 20px;
}

.inputgroup #messageinput{
    height: 100px;
    scroll-behavior: auto;
    resize: none;
}

.inputgroup.gdprgroup{
    flex-direction: row;
    margin: 0px;
}

.gdprgroup label{
    font-size: 12px;
    margin: 10px;
}

.gdprgroup input{
    margin-top: 2px;
    padding: 0px;
    height: 40px;
    width: 40px;
}
.contactform #submit{
    margin-top: 20px;
    font-size: 16px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 50px;
    margin-right: 50px;
}






@media (max-width: 1450px) {
    .contact{
        padding-left: 15vw;
        padding-right: 15vw;
    }
    
}



@media(max-width: 1000px){
    .contact{
        padding-left: 1vw;
        padding-right: 1vw;
    }
}

@media(max-width: 710px){
    .titlecol{
        padding: 10px;
    }

    .titlecol .text{
        font-size: 12px;
    }

    .contact .contactinfo{
        height: 120px;
    }
    .infoline .contactinfomore{
        font-size: 14px;
        line-height: 18px;
    }

    .inputgroup{
        width: 80%
        
    }

    .contactform form{
       
        flex-wrap: nowrap;
        
        
    }

    .card.contactform{
        height: auto;
    }

}
@media(max-width: 600px){
    .infoline .contactinfomore{
        display: none;
    }
}