:root{
    --dark: #0F2836;
    --middle: #D4DFE4;
    --middledarker: #4f585c;
    --light: #FFFFFF;
    
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}




.contact{
    font-size: 10px;
    display: flex;
    flex-direction: column;
}




.infoline{
    display: flex;
    justify-content: space-between;
}

.contact .contactinfo{
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    overflow: hidden;
    padding: 20px;
    padding-left: 13px;

}
.contactinfo.img{

    object-fit: contain;
   max-width: 100%;
   max-height: 100%;
   width: auto;
   height: auto;
   padding: 0px;
    
    
      
}

.contactinfo.txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.contacttxt.name{
    font-size: 25px;
}

.contacttxt.number{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 7px;
}
.contacttxt.email{
    font-size: 14px;
}

.infoline .contactinfomore{
    flex-grow: 1;
    line-height: 23px;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;

}

.card.contactform{
    height: 320px;
    display: flex;
    padding: 0px;
    
}


.contactform form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width:100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: auto;
    
    
    
     
  
    
}

.inputgroup{
    display: flex;
    flex-direction: column;
    width: 40%
    
}

.inputgroup label{
    height: 20px;
    font-size: 15px;
    margin-bottom: 2px;
}

.inputgroup input{
    height: 25px;
    margin-bottom: 20px;
}

.inputgroup #messageinput{
    height: 100px;
    scroll-behavior: auto;
    resize: none;
}

.inputgroup.gdprgroup{
    flex-direction: row;
    margin: 0px;
}

.gdprgroup label{
    font-size: 12px;
    margin: 10px;
    margin-top: 15px;
}

.gdprgroup input{
    margin-top: 6px;
    padding: 0px;
    height: 40px;
    width: 40px;
}
.contactform #submit{
    margin-top: 35px;
    font-size: 18px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 50px;
    margin-right: 50px;
}









@media(max-width: 710px){
    


    .contact .contactinfo{
        height: 120px;
    }
    .infoline .contactinfomore{
        font-size: 14px;
        line-height: 18px;
    }

    .inputgroup{
        width: 80%
        
    }

    .contactform form{
       
        flex-wrap: nowrap;
        padding-top: 20px;
        
        
    }

    .card.contactform{
        height: auto;
    }

}
@media(max-width: 600px){

    .contacttxt.name{
        font-size: 20px;
    }

    .infoline .contactinfomore{
        display: none;
    }
}