

.homec img{
    max-width: 100%;
    object-fit: cover;
    height: 150px;
       
}

.homec .paddingcard{
    height:7vw;
}

.homec .holder{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    font-size: 10px;
    align-items: center;
    
}

.homec .holder .card{
    flex-wrap: wrap;
    flex-direction: column;
    flex-shrink: 1;
    padding: 10px;
    height: 170px;
    
}


@media (max-width: 530px) {
    .homec .holder .card{
        height: 100px;
        
    }

    .homec img{
        
        height: 80px;
           
    }
}