<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>

    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/body.css">
    <link rel="stylesheet" href="static/contact.css">
    <link rel="stylesheet" href="static/services.css">
    <link rel="stylesheet" href="static/aboutus.css">

    <!-- AutoReload firefox -->
  <script type="text/javascript" src="http://livejs.com/live.js"></script>
</head>
<body>
    new branch
    <div class="navbar">
        <div id="underscore"></div>
        <div onclick="ClickNav(0)" class="navhome navbaritem txt">
            Home
        </div>
        <div onclick="ClickNav(1)" class="navcompetences navbaritem txt">
            About Us
        </div>

        <div onclick="ClickNav(2)" class="navcompetences navbaritem txt">
            Services
        </div>
        
        <div onclick="ClickNav(3)" class="navcontact navbaritem txt">
            Contact 
        </div>
    </div>

    <div id="carousell" class="carousell">
        <div class="main homec">
            

        </div>

        <div class="main AboutUs">
            <div class="card txt">
                <div class="title">About Us</div>
                <div class="subtitle">Working together with subcontractors to meet all your needs</div>
            </div>
            <div class="card text txt">
                We are a small buisness based in Halmstad Sweden,
                founded on the principal that
                in today's specialized, interconnected world, 
                it's crucial to leverage the fact that certain businesses excel in specific areas.
                That is why we work closly together with our subcontractors 

            </div>

        </div>
        
        <div class="main services">
            <div class="card txt">
                <div class="title">Services</div>
                <div class="subtitle">One-Stop Solution to your projects involving and not limited to...</div>
            </div>
            <div class="holder txt">
                <div class="card category">Project Planning</div>
                <div class="card category">Micro Electronics</div>
                <div class="card category">Web Design</div>
                <div class="card category">Embedded Developement</div>
                <div class="card category">Computer Aided Design</div>
                <div class="card category">Web Development</div>
                <div class="card category">Small/Large Scale Manufacturing</div>
                <div class="card category">Project Counseling</div>
                <div class="card category">Web Hosting</div>
                <div class="card category">Electronics Design</div>
                <div class="card category">Project intergration</div>
            </div>

        </div>
        







        <div class="main contact txt">

            <div class="card titlecol">
                <div class="title">Contact Us</div>
                <div class="subtitle">Contact us to book a free, no-commitment project counseling meeting</div>
            </div>

            <div class="infoline">
                <div class="card contactinfo">
                    
                    <img src="static/me.png" alt="image not found" class="contactinfo img"></img>
                    <div class="contactinfo txt">
                        <div class="contacttxt name">Andreas Bertilsson</div>
                        <div class="contacttxt number">Tel: +46 72 577 27 74</div>
                        <div class="contacttxt email">E-mail: info@andreasb.one</div>
                    </div>
                </div>
                <div class="card contactinfomore"> <div class="contactinfomoreinner">We aim to answer all inquiries within two business days for prompt service</div></div>
            </div>
                
            <div class="card contactform">
                <form>
                        <div class="inputgroup">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name">
                        </div>

                        <div class="inputgroup">
                            <label for="cname">Company name:</label>
                            <input type="text" id="cname" name="cname">
                        </div>

                        <div class="inputgroup">
                            <label for="E-mail">E-mail:</label>
                            <input type="email" id="email" name="email">
                        </div>

                        <div class="inputgroup">
                            <label for="name">Phone Number:</label>
                            <input type="tel" id="fname" name="fname">
                        </div>
                        <div class="inputgroup">
                            <label id="message" for="message">Message:</label>
                            <textarea id="messageinput" type="text" id="message" name="message"></textarea>
                        </div>

                        <div class="inputgroup gdprgroup">
                            <input type="checkbox" id="gdpr" name="gdpr" value="gdpr">
                            <label for="gdpr">I agree, in accordance with GDPR, to allow consult to store my contact information solely for the purpose of contacting me regarding this inquiry.</label>
                        </div>
                        
                        <input id="submit" type="submit" value="Submit">
                    
                        


                  </form> 


            </div>
        </div>
   </div>

   <div class="bottom txt">
        <div class="bottomcol bottomcol1">
            <div class="bottomtitle">One-Stop Solution</div>
            <div class="bottomtxt">
                We offer complete solutions in microelectronics, CAD, small scale manufacturing, hosting, software and web development, expertly integrating all aspects to fulfill your project needs.
            </div>
        </div>

        <div class="bottomdivider"></div>
        
        <div class="bottomcol bottomcol2">
            <div class="bottomtitle">Small Scale Production</div>
            <div class="bottomtxt">Our small scale production is tailored for flexibility, allowing for orders as small as just one unit. This approach is perfect for custom, limited-run projects, providing you with exactly what you need, when you need it.</div>

        </div>
        
        <div class="bottomdivider"></div>
        
        <div class="bottomcol bottomcol3" onclick="ClickNav(3)">            
            <div class="bottomtitle">Free Project Counseling</div>
            <div class="bottomtxt">Unsure about our services? We offer no-commitment, free counseling to discuss your needs and determine how we can best assist you, ensuring you make the most informed decision.</div>

        </div>

    </div>

    <script src="static/index.js"></script>
    <script src="static/form.js"></script>
</body>
</html>